body {
    background-color: #f7f7f8;
}

/* --------公共样式 */
.pannel {
    background-color: #fff;
    border-radius: 5px;
}

.common-info-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33.33%;
    font-size: 13px;
    color: #262626;
}



/* -------------------------------------------主体模块：main */
.main {
    padding: 12px 11px 80px;
}


/* -----------------------用户收货信息 */
.main .user-msg {
    display: flex;
    align-items: center;
    height: 85px;
}

.user-msg .location {
    width: 30px;
	height: 30px;
    margin-left: 11px;
    margin-right: 11px;
	background-image: linear-gradient(90deg, 
		#6fc2aa 5%, 
		#54b196 100%);
    border-radius: 50%;
    text-align: center;
    line-height: 30px; 
    color: #fff;
}

.user-msg .msg {
    flex: 1;
}

.user-msg .msg h5 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 10px;
}

.user-msg .msg span {
    display: inline-block;
    width: 50px;
    font-size: 15px;

    color: #262626;
}

.user-msg .msg p {
    font-size: 12px;
}

.user-msg .more {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #808080;
}


/* --------------------------商品信息 */
.main .goods {
    display: flex;
    align-items: center;
    height: 107px;
    margin-top: 9px;
}

.goods .pic {
    width: 85px;
    height: 85px;
    margin-left: 11px;
    margin-right: 12px;
}

.goods .pic img {
    width: 100%;
}

.goods .info {
    flex: 1;
}

.goods .info p:first-child {
    font-size: 13px;
    color: #262626;
}

.goods .info p:nth-child(2) {
    width: 96px;
    padding: 3px 4px;
    background-color: #f7f7f8;
	border-radius: 2px;
    font-size: 11px;
    color: #888;
}

.goods .info p:nth-child(3) span:first-child {
    font: 9px;
    color: #cf4444;
}

.goods .info p:nth-child(3) span:nth-child(2) {
    font-size: 16px;
    color: #cf4444;
}

.goods .info p:nth-child(3) del {
    margin-left: 14px;
    font-size: 12px;
    color: #999;
}

.goods .number {
    width: 44px;
    height: 44px;
    margin-top: -40px;
    text-align: center;
    line-height: 44px;
}


/* --------------------其他信息 */
.main .others {
    height: 125px;
    margin-top: 6px;
    padding-left: 13px;
    padding-right: 15px;
}

.others .distribution h4 {
    font-weight: normal;
}

.others .note {
    display: flex;
    align-items: center;
    height: 33.33%;
}

.others .note h4 {
    font-weight: normal;
    font-size: 13px;
    color: #262626;
}

.others .note p {
    margin-left: 19px;
    font-size: 12px;
    color: #989898;
}

.others .payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33.33%;
    font-size: 13px;
    color: #262626;
}

.others .payment h4 {
    font-weight: normal;
}

.others .payment a {
    vertical-align: middle;
}

.others .payment a span {
    margin-left: 9px;
    color: #808080;
}


/* ---------------------金额信息 */
.main .money {
    height: 125px;
    margin-top: 10px;
    padding-left: 13px;
    padding-right: 16px;
}

.money .total-price h4 {
    font-weight: normal;
}

.money .freight h4 {
    font-weight: normal;
}

.money .discount h4 {
    font-weight: normal;
}

.money .discount p {
    color: #cf4444;
}





/* -------------------------------------------底部支付模块:pay */
.pay {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left:0px;
    bottom:0px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 22px 11px;
    border-top: 1px solid #ededed;
    /* background-color: skyblue; */
}

.pay p {
    font-size: 11px;
    color: #1e1e1e;
}

.pay p span:first-child {
    font-size: 11px;
    color: #cf4444;
}

.pay p span:last-child {
    font-size: 20px;
    color: #cf4444;
}

.pay button {
    width: 91px;
	height: 35px;
    font-size: 13px;
    color: white;
	background-image: linear-gradient(90deg, 
		#6fc2aa 5%, 
		#54b196 100%);
	border-radius: 3px;
    border:none;
}
